<nav class="sidebar-nav">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_dashboard' %}">
                <i class="nav-icon cil-speedometer"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_ver_vehiculos' %}">
                <i class="nav-icon cil-car-alt"></i>
                <span>Vehículos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_ver_chofers' %}">
                <i class="nav-icon cil-user"></i>
                <span>Conductores</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_ver_mantenciones' %}">
                <i class="nav-icon cil-wrench"></i>
                <span>Mantenciones</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_ver_combustible' %}">
                <i class="nav-icon cil-gas-station"></i>
                <span>Combustible</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_ver_mecanicos' %}">
                <i class="nav-icon cil-user"></i>
                <span>Mecánicos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_ver_tipos_vehiculo' %}">
                <i class="nav-icon cil-list"></i>
                <span>Tipos de Vehículo</span>
            </a>
        </li>
    </ul>
</nav>