{% extends 'TemplatesFlota/base.html' %}

{% block title %}Ver Vehículos{% endblock %}

{% block menu %}
    <a href="{% url 'admin_dashboard' %}">Volver al Panel</a>
    <a href="{% url 'admin_agregar_vehiculo' %}">Agregar Vehículo</a>
{% endblock %}

{% block content %}
<h2>Lista de Vehículos</h2>
<table>
    <thead>
        <tr>
            <th>Patente</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Kilometraje</th>
            <th>Chofer Asignado</th>
            <th>Seguro</th>
            <th>Revisión Técnica</th>
            <th>Permiso Circulación</th>
            <th>GPS</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
        <tr>
            <td>{{ vehiculo.patente }}</td>
            <td>{{ vehiculo.Tipo.nombre }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.año }}</td>
            <td>{{ vehiculo.kilometraje }} km</td>
            <td>{{ vehiculo.chofer_asignado.Nombre|default:"Sin asignar" }}</td>
            <td>{{ vehiculo.seguro|yesno:"Sí,No" }}</td>
            <td>{{ vehiculo.revision_tecnica|yesno:"Sí,No" }}</td>
            <td>{{ vehiculo.permiso_circulacion|yesno:"Sí,No" }}</td>
            <td>{{ vehiculo.gps|yesno:"Sí,No" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">No hay vehículos registrados.</td> </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}