{% extends 'TemplatesFlota/base.html' %}
{% load static %}

{% block title %}Ver Chofers{% endblock %}

{% block menu %}
    <a href="{% url 'admin_dashboard' %}">Volver al Panel</a>
    <a href="{% url 'admin_agregar_chofer' %}">Agregar Chofer</a>
{% endblock %}

{% block content %}
<h2>Lista de Chofers</h2>
<table>
    <thead>
        <tr>
            <th>Imagen</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Horas</th>
        </tr>
    </thead>
    <tbody>
        {% for chofer in chofers %}
        <tr>
            <td>
                <img src="{% static 'images/fotoperfil.jpg' %}" alt="Foto de perfil" class="profile-img">
            </td>
            <td>{{ chofer.BUTChofer }}</td>
            <td>{{ chofer.Nombre }}</td>
            <td>{{ chofer.Fecha_Nacimiento }}</td>
            <td>{{ chofer.Telefono }}</td>
            <td>{{ chofer.Estado }}</td>
            <td>{{ chofer.Horas }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No hay chofers registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}