{% extends 'TemplatesFlota/base.html' %}
{% load static %}

{% block title %}Panel de Administración{% endblock %}

{% block menu %}
    <a href="{% url 'admin_agregar_chofer' %}">Agregar Chofer</a>
    <a href="{% url 'admin_ver_chofers' %}">Ver Chofers</a>
    <a href="{% url 'admin_agregar_vehiculo' %}">Agregar Vehículo</a>
    <a href="{% url 'admin_ver_vehiculos' %}">Ver Vehículos</a>
    <a href="{% url 'admin_ver_combustible' %}">Ver Combustible</a>
    <a href="{% url 'admin_ver_mantenciones' %}">Ver Mantenciones</a>
{% endblock %}

{% block content %}
<h2>Panel de Administración</h2>
<div class="profile-header">
    <img src="{% static 'images/fotoperfil.jpg' %}" alt="Foto de perfil">
    <div>
        <p>Bienvenido, {{ nombre_usuario }}</p>
        <p>Rol: Administrador</p>
    </div>
</div>
{% endblock %}