{% extends 'TemplatesFlota/base.html' %}

{% block title %}Panel de Administración{% endblock %}

{% block menu %}
    <a href="{% url 'admin_agregar_chofer' %}">Agregar Chofer</a>
    <a href="{% url 'admin_ver_chofers' %}">Ver Chofers</a>
    <a href="{% url 'admin_agregar_vehiculo' %}">Agregar Vehículo</a>
    <a href="{% url 'admin_ver_vehiculos' %}">Ver Vehículos</a>
    <a href="{% url 'admin_ver_combustible' %}">Ver Combustible</a>
    <a href="{% url 'admin_ver_mantenciones' %}">Ver Mantenciones</a>
{% endblock %}

{% block content %}
<h2>Panel de Administración</h2>
<p>Bienvenido, {{ nombre_usuario }}</p>
{% endblock %}