{% extends 'TemplatesFlota/base.html' %}
{% load material_form %}

{% block title %}Agregar Combustible{% endblock %}

{% block content %}
<h2>Agregar Registro de Combustible</h2>

<div class="row">
    <div class="col s12 m8 l6">
        <div class="card-panel">
            <form method="post">
                {% csrf_token %}
                
                {% form form=form %}{% endform %}
                
                <button type="submit" class="btn waves-effect waves-light">
                    Agregar Registro <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}