{% extends 'TemplatesFlota/base.html' %}

{% block title %}Agregar Combustible{% endblock %}

{% block menu %}
    <a href="{% url 'chofer_dashboard' %}">Volver al Panel</a>
    <a href="{% url 'chofer_ver_combustible' %}">Ver Combustible</a>
{% endblock %}

{% block content %}
<h2>Agregar Registro de Combustible</h2>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="tipo_combustible">Tipo de Combustible:</label>
        <select id="tipo_combustible" name="tipo_combustible" required>
            <option value="93">93 Octanos</option>
            <option value="95">95 Octanos</option>
            <option value="97">97 Octanos</option>
            <option value="Diésel">Diésel</option> 
            <option value="GLP">Gas (GLP)</option> 
        </select>
    </div>
    
    <div class="form-group">
        <label for="fecha_recarga">Fecha de Recarga:</label>
        <input type="date" id="fecha_recarga" name="fecha_recarga" required>
    </div>
    
    <div class="form-group">
        <label for="lugar">Lugar:</label>
        <input type="text" id="lugar" name="lugar" required>
    </div>
    
    <div class="form-group">
        <label for="vehiculo">Vehiculo:</label>
        
        {% if vehiculos_asignados %}
            <select id="vehiculo" name="vehiculo" required>
                {% for vehiculo in vehiculos_asignados %}
                    <option value="{{ vehiculo.patente }}">
                        {{ vehiculo.patente }} - ({{ vehiculo.marca }} {{ vehiculo.modelo }})
                    </option>
                {% endfor %}
            </select>
        {% else %}
            <p style="color: red;">No tienes vehículos asignados. No puedes agregar combustible.</p>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="cantidad_estanque">Cantidad de Estanque (litros):</label>
        <input type="number" id="cantidad_estanque" name="cantidad_estanque" step="0.1" required>
    </div>
    
    <div class="form-group">
        <label for="recargar">Recargar:</label>
        <select id="recargar" name="recargar" required>
            <option value="Si">Sí</option> 
            <option value="No">No</option>
        </select>
    </div>
    
    {% if vehiculos_asignados %}
        <input type="submit" value="Agregar Registro">
    {% endif %}
</form>
{% endblock %}