{% extends 'TemplatesFlota/base.html' %}
{% load static %}

{% block title %}Panel de Chofer{% endblock %}

{% block menu %}
    <a href="{% url 'chofer_ver_vehiculos' %}">Ver Vehículos</a>
    <a href="{% url 'chofer_agregar_combustible' %}">Agregar Combustible</a>
    <a href="{% url 'chofer_ver_combustible' %}">Ver Combustible</a>
{% endblock %}

{% block content %}
<h2>Panel de Chofer</h2>
<div class="profile-header">
    <img src="{% static 'images/fotoperfil.jpg' %}" alt="Foto de perfil">
    <div>
        <p>Bienvenido, {{ nombre_usuario }}</p>
        <p>Rol: Chofer</p>
    </div>
</div>
{% endblock %}