<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>Nombre</label><br/>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre"/><br/>
        <label>Apellido</label><br/>
        <input type="text" name="apellido" id="apellido" placeholder="Ingrese su nombre"/><br/>
        <label>Correo</label><br/>
        <input type="email" name="correo" id="correo" placeholder="Ingrese su correo"/><br/>
        <label>Fecha de Nacimiento</label><br/>
        <input type="date" name="fNacimiento" id="fNacimiento" placeholder="dd/mm/yy"><br/>
        <button>Registrar</button>
    </form>
</body>
</html>