{% extends 'TemplatesFlota/base.html' %}

{% block title %}Ver Vehículos{% endblock %}

{% block menu %}
    <a href="{% url 'mecanico_dashboard' %}">Volver al Panel</a>
{% endblock %}

{% block content %}
<h2>Lista de Vehículos</h2>
<table>
    <thead>
        <tr>
            <th>Patente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Motor</th>
            <th>Seguro</th>
            <th>Revisión Técnica</th>
            <th>Permiso Circulación</th>
            <th>GPS</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
        <tr>
            <td>{{ vehiculo.Patente }}</td>
            <td>{{ vehiculo.Marca }}</td>
            <td>{{ vehiculo.Modelo }}</td>
            <td>{{ vehiculo.Año }}</td>
            <td>{{ vehiculo.Motor }}</td>
            <td>{{ vehiculo.Seguro }}</td>
            <td>{{ vehiculo.Revision_Tecnica }}</td>
            <td>{{ vehiculo.Permiso_Circulacion }}</td>
            <td>{{ vehiculo.GPS }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No hay vehículos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}