{% extends 'TemplatesFlota/base.html' %}

{% block title %}Panel de Mecánico{% endblock %}

{% block menu %}
    <a href="{% url 'mecanico_ver_vehiculos' %}">Ver Vehículos</a>
    <a href="{% url 'mecanico_agregar_combustible' %}">Agregar Combustible</a>
    <a href="{% url 'mecanico_ver_combustible' %}">Ver Combustible</a>
    <a href="{% url 'mecanico_agregar_mantencion' %}">Agregar Mantención</a>
    <a href="{% url 'mecanico_ver_mantenciones' %}">Ver Mantenciones</a>
{% endblock %}

{% block content %}
<h2>Panel de Mecánico</h2>
<p>Bienvenido, {{ nombre_usuario }}</p>
{% endblock %}