{% extends 'TemplatesFlota/base.html' %}

{% block title %}Mis Mantenciones{% endblock %}

{% block menu %}
    <a href="{% url 'mecanico_dashboard' %}">Volver al Panel</a>
    <a href="{% url 'mecanico_agregar_mantencion' %}">Agregar Mantención</a>
{% endblock %}

{% block content %}
<h2>Mis Registros de Mantención</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Vehículo</th> <th>Tipo Mantención</th>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        {% for mantencion in mantenciones %}
        <tr>
            <td>{{ mantencion.ID_Mantencion }}</td>
            <td>{{ mantencion.vehiculo.patente }}</td> <td>{{ mantencion.Tipo_Mantencion }}</td>
            <td>{{ mantencion.Fecha }}</td>
            <td>{{ mantencion.Lugar }}</td>
            <td>{{ mantencion.Descripcion }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No has registrado ninguna mantención.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}