{% extends 'TemplatesFlota/base.html' %}

{% block title %}Agregar Mantención{% endblock %}

{% block menu %}
    <a href="{% url 'mecanico_dashboard' %}">Volver al Panel</a>
    <a href="{% url 'mecanico_ver_mantenciones' %}">Ver Mantenciones</a>
{% endblock %}

{% block content %}
<h2>Agregar Mantención</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="tipo_mantencion">Tipo de Mantención:</label>
        <select id="tipo_mantencion" name="tipo_mantencion" required>
            <option value="Preventiva">Preventiva</option>
            <option value="Correctiva">Correctiva</option>
            <option value="Predictiva">Predictiva</option>
            <option value="Rutina">Rutina</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>
    </div>
    
    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
    </div>
    
    <input type="submit" value="Agregar Mantención">
</form>
{% endblock %}
