{% extends 'TemplatesFlota/base.html' %}

{% block title %}Ver Vehículos{% endblock %}

{% block menu %}
    <a href="{% url 'mecanico_dashboard' %}">Volver al Panel</a>
{% endblock %}

{% block content %}
<h2>Lista de Vehículos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Patente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Motor</th>
            <th>Seguro</th>
            <th>Revisión Técnica</th>
            <th>Permiso Circulación</th>
            <th>GPS</th>
        </tr>
    </thead>
    <tbody>
        {% for id, vehiculo in vehiculos.items %}
        <tr>
            <td>{{ vehiculo.id }}</td>
            <td>{{ vehiculo.patente }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.año }}</td>
            <td>{{ vehiculo.motor }}</td>
            <td>{{ vehiculo.seguro }}</td>
            <td>{{ vehiculo.revision_tecnica }}</td>
            <td>{{ vehiculo.permiso_circulacion }}</td>
            <td>{{ vehiculo.gps }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10">No hay vehículos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}